MYSQL_ROOT_PASSWORD=change_me_mysql_root_password
MYSQL_DATABASE=docentes_db

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_postgres_password
POSTGRES_DB=postgres

JWT_SECRET=change_me_jwt_secret
ADMIN_CREATION_KEY=change_me_admin_creation_key
INTERNAL_API_KEY=change_me_internal_api_key

CORS_ALLOW_ORIGINS=http://localhost:5173,http://localhost:8001,http://localhost:8002,http://localhost:8003,http://localhost:8004
